**/target
**/gen
**/bin
**/assets
**/libs
**/lint.xml
**/.settings
**/.project
**/.classpath
**/tmp
*.log
**/.apt_generated
**/script/node_modules
**/src/main/resources/application.conf
**/project.properties
**/${user.home}
**/.factorypath
**/proguard-project.txt
